*, *::after, *::before {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.App-footer {
    text-align: center;
    padding-top: 20px;
}

.clock {
    width: 500px;
    height: 500px;
    background-image: url(./assets/images/MOAButah.jpg);
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 10px solid rgb(187, 112, 68);
    box-shadow:  0 24px 28px 0 rgba(187, 112, 68, 0.2), 0 6px 200px 200px rgba(0, 0, 0, 0.20);
    position: relative;
}

.number {
    position: absolute;
    width: 100%;
    height: 100%;
    /*top: 0;*/
    /*left: 0;*/
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    --rotation: 0;
    transform: rotate(var(--rotation));
}

.reverse {
    --reverse: 0;
    transform: rotate(var(--reverse));
}
.number1 { --rotation: 30deg}
.number2 { --rotation: 60deg}
.number3 { --rotation: 90deg}
.number4 { --rotation: 120deg}
.number5 { --rotation: 150deg}
.number6 { --rotation: 180deg}
.number7 { --rotation: 210deg}
.number8 { --rotation: 240deg}
.number9 { --rotation: 270deg}
.number10 {--rotation: 300deg}
.number11 {--rotation: 330deg}
/*.number12 {--rotation: 30deg}*/

.number1 div{ --reverse: -30deg}
.number2 div{ --reverse: -60deg}
.number3 div{ --reverse: -90deg}
.number4 div{ --reverse: -120deg}
.number5 div{ --reverse: -150deg}
.number6 div{ --reverse: -180deg}
.number7 div{ --reverse: -210deg}
.number8 div{ --reverse: -240deg}
.number9 div{ --reverse: -270deg}
.number10 div{--reverse: -300deg}
.number11 div{--reverse: -330deg}
.clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: .60rem;
}

.clock .number1 {--rotation: 30deg;}
.clock .number2 {--rotation: 60deg;}
.clock .number3 {--rotation: 90deg;}
.clock .number4 {--rotation: 120deg;}
.clock .number5 {--rotation: 150deg;}
.clock .number6 {--rotation: 180deg;}
.clock .number7 {--rotation: 210deg;}
.clock .number8 {--rotation: 240deg;}
.clock .number9 {--rotation: 270deg;}
.clock .number10 {--rotation: 300deg;}
.clock .number11 {--rotation: 330deg;}

.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock:after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.clock .hand.second {
    width: 4px;
    height: 43%;
    background-color: red;
    z-index: 10;
}

.clock .hand.minute {
    width: 9px;
    height: 40%;
    background-color: black;
}

.clock .hand.hour {
    width: 7px;
    height: 33%;
    background-color: black;
}